{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
	<title>Cereal List</title>
	<script src="{% static 'js/jquery-1.11.3.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>

	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">

</head>
<!-- we are in cereal_list.html -->
	<body>
	<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-cereal" href="#">Brand</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        {% for manu in main_menu %}


        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ manu.name|slice:':14' }}<span class="caret"></span></a>
          <ul class="dropdown-menu">
          {% for cereal in manu.cereal_set.all %}
     
            <li><a href="/cereal_detail/{{ cereal.pk }}">{{ cereal }}</a></li>

          {% endfor %}
          </ul>
        </li>

        {% endfor %}



      </ul>
      {% if not user.is_authenticaed %}
      <form action="/login_view/" method="POST" class="navbar-form navbar-left" role="search">
        <div class="form-group">
        	{% csrf_token %}
          <input type="text" class="form-control" placeholder="User Name" name="username">
          <input type="text" class="form-control" placeholder="password" name="password">
        </div>
        <button type="submit" class="btn btn-default">Login</button>
      </form>
      {% else %}
      	<a class="navbar-brand" href="/logout_view/">Logout</a>
      {% endif %}
      <ul class="nav navbar-nav navbar-right">
      	{% if user.is_authenticated %}
      		<a class="navbar-brand" href="#">{{ request.user }}</a>
      	{% endif %}
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
	{% if user.is_authenticated %}
		Welcome: {{ request.user }}
	{% endif %}
		{% block body %}
		{% endblock %}
	</body>

	<script type="text/javascript">
		$(document).ready( function() {

			$('body').css('background-color','orange').css('color','blue');
			$('.manu_title').css('font-family','Gothic').css('color','black');

				$('.cereal').on('mouseover', function() {
					$('.cereal').css('color', '#CCC');
				});

				$('.cereal').on('mouseout', function() {
					$('.cereal').css('color', 'blue');
				})

			});
	</script>
</html>